calculadoraWSCliente/xml-resources/web-service-references/CalculadoraWS/wsdl/localhost_8080/CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="CalculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/CalculadoraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="conecta">
<part name="parameters" element="tns:conecta"/>
</message>
<message name="conectaResponse">
<part name="parameters" element="tns:conectaResponse"/>
</message>
<message name="multiplicacao">
<part name="parameters" element="tns:multiplicacao"/>
</message>
<message name="multiplicacaoResponse">
<part name="parameters" element="tns:multiplicacaoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="subtracao">
<part name="parameters" element="tns:subtracao"/>
</message>
<message name="subtracaoResponse">
<part name="parameters" element="tns:subtracaoResponse"/>
</message>
<message name="soma">
<part name="parameters" element="tns:soma"/>
</message>
<message name="somaResponse">
<part name="parameters" element="tns:somaResponse"/>
</message>
<portType name="CalculadoraWS">
<operation name="conecta">
<input wsam:Action="http://WebService/CalculadoraWS/conectaRequest" message="tns:conecta"/>
<output wsam:Action="http://WebService/CalculadoraWS/conectaResponse" message="tns:conectaResponse"/>
</operation>
<operation name="multiplicacao">
<input wsam:Action="http://WebService/CalculadoraWS/multiplicacaoRequest" message="tns:multiplicacao"/>
<output wsam:Action="http://WebService/CalculadoraWS/multiplicacaoResponse" message="tns:multiplicacaoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/CalculadoraWS/multiplicacao/Fault/Exception"/>
</operation>
<operation name="subtracao">
<input wsam:Action="http://WebService/CalculadoraWS/subtracaoRequest" message="tns:subtracao"/>
<output wsam:Action="http://WebService/CalculadoraWS/subtracaoResponse" message="tns:subtracaoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/CalculadoraWS/subtracao/Fault/Exception"/>
</operation>
<operation name="soma">
<input wsam:Action="http://WebService/CalculadoraWS/somaRequest" message="tns:soma"/>
<output wsam:Action="http://WebService/CalculadoraWS/somaResponse" message="tns:somaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/CalculadoraWS/soma/Fault/Exception"/>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conecta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="subtracao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="soma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="CalculadoraWS">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/CalculadoraWS"/>
</port>
</service>
</definitions>